<app-navbar></app-navbar>
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <form class="log-form" [formGroup]="signUpForm" (ngSubmit)="signUpUser($event)">
                <h3>CelebraEvents</h3>
                <h6>Register</h6>
                <div class="mt-10">
                    <label>User name</label>
                    <input type="text" name="user_" placeholder="user name"  class="single-input" formControlName="fullname">
                    <p class="text-danger" *ngIf="signUpForm.value.fullname.length <=6">Required *</p>
                </div>
                <div class="mt-10">
                    <label>Email</label>
                    <input type="email" name="login_" placeholder="Email"  class="single-input" formControlName="login">
                    <p class="text-danger" *ngIf="signUpForm.value.login.length == 0">Required *</p>
                </div>
                <div class="mt-10">
                    <label>Password</label>
                    <input type="password" name="password_" placeholder="password"  class="single-input" formControlName="password">
                    <p class="text-danger" *ngIf="signUpForm.value.password.length==0">Required *</p>
                </div>
                <div class="mt-10">
                    <label>Confirm password</label>
                    <input type="text" name="password_" placeholder="password"  class="single-input" formControlName="confPassword">
                </div>
                <div class="mt-10" *ngIf="signUpForm.value.password != signUpForm.value.confPassword ">
                    <div class="alert alert-danger">Passwords don't match</div>
                </div>
                <div class="mt-10">
                    <div class="alert alert-success" *ngIf="createdSuccessfully">
                        Your account is created successfully, you can <a style="color: darkcyan;" routerLink="/login">login now</a>.
                    </div>
                    <div class="alert alert-danger" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="alert alert-info" *ngIf="isLoading">
                        Please wait...
                    </div>
                    

                </div>
                <div class="button-group-area mt-10" *ngIf="! isLoading">
                    <button class="genric-btn primary" [disabled]="! signUpForm.valid">SIGN UP NOW</button> 
                    <a routerLink="/home" class="genric-btn success-border">CANCEL</a>
                </div>
                
            </form>
        </div>
    </div>
  
  </div>

  <app-footer></app-footer>