<app-navbar></app-navbar>
<!-- slider_area_start -->
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <h1 class="opcity_text d-none d-lg-block">CELEBRAEVENTS</h1>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="title_text">
                            <h3>Celebra Events<br>
                                MAKE IT REAL</h3>
                            <a routerLink="/account/newevent" class="boxed-btn-white"><i class="fa fa-plus"></i> CREATE MY EVENT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </div>
  <!-- slider_area_end -->



  <section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">WHAT MAKES CELEBRA SPECIAL</h3>
        <p class="sample-text">
            Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
            or short
            film to show off their creative prowess. Many have great ideas and want to “wow”
            the<sup>Superscript</sup> scene,
            or video renters with their big project. But once you have the<sub>Subscript</sub> “in the can” (no easy
            feat), how
            do you move from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked
            hand-written title.

        </p>
    </div>
</section>

<div class="about_area" style="padding-top: 0;">
    <div class="shape-1 d-none d-xl-block">
        <img src="../../assets/wemeet/img/about/shap1.png" alt="">
    </div>
    <div class="shape-2 d-none d-xl-block">
        <img src="../../assets/wemeet/img/about/shap2.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="about_thumb">
                    <img src="../../assets/wemeet/img/about/about.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-md-6">
                <div class="about_info">
                    <div class="section_title">
                        <span class="sub_heading">Welcome To</span>
                        <h3> Celebra Events  </h3>
                           
                    </div>
                    <p>Celebra Events is a website specializin in event planning, styling.
                        Together we create a lasting impression through our ambitious style and authentic planning, leaving nothing to chance.

                        As we believe no event is the same, we thoughtfully capture your personality and vision translating it into your dream reality.

                         Whether elegant or edgy, Celebra Events  has you covered.
                       
                    </p>
                    <a routerLink="account/newevent" class="boxed-btn-red">CREATE YOUR EVENT</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="resister_book resister_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="resister_text text-center">
                    <h3>Register Now to Book <br>
                        Your Presence</h3>
                    <a routerLink="account/newevent" class="boxed-btn-white">CREATE YOUR DREAM EVENT </a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container box_1170">
        <div class="section-top-border">
            <h3>Our Gallery</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="http://localhost:3000/gallery/1.JPG" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(http://localhost:3000/gallery/1.JPG);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://localhost:3000/gallery/2.JPG" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(http://localhost:3000/gallery/2.JPG);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://localhost:3000/gallery/3.JPG" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(http://localhost:3000/gallery/4.JPG);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="http://localhost:3000/gallery/5.JPG" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(http://localhost:3000/gallery/5.JPG);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="http://localhost:3000/gallery/6.JPG" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(http://localhost:3000/gallery/6.JPG);"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>




  <app-footer></app-footer>